# Variables d'environnement — Déploiement serveur DISI
# Copier en .env.disi et remplir les valeurs

# Django
SECRET_KEY=changez-moi-cle-secrete-longue-et-aleatoire
DEBUG=False
ALLOWED_HOSTS=idees.ensmg.sn,localhost
DJANGO_SETTINGS_MODULE=config.settings.prod

# Base de données
POSTGRES_DB=ensmg_boite_idees
POSTGRES_USER=ensmg_admin
POSTGRES_PASSWORD=changez-moi-mot-de-passe-bdd

# Redis
REDIS_URL=redis://redis:6379/0

# CORS
CORS_ALLOWED_ORIGINS=https://idees.ensmg.sn

# Frontend
FRONTEND_URL=https://idees.ensmg.sn

# Email (Mailgun ou SMTP DISI)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@ensmg.sn

# Gunicorn (optionnel — auto-détecté si absent)
# GUNICORN_WORKERS=5
PORT=8000
