# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.sqlite3
staticfiles/
media/
.venv/
venv/
dist/

# Node
node_modules/
frontend/dist/
frontend/.env

# Frontend build copié dans Django (généré par build.sh)
backend/frontend_build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
